$bg: black;

.banner {
  height: 600px;
  background-color: $bg;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: $bg;
    opacity: 0.4;
  }
  > h1,
  p {
    color: white;
    font-size: 3rem;
    width: 50%;
    z-index: 10;
  }
  > p {
    font-size: 1.2rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 300;
    margin-top: 1rem;
  }
}

.row {
  padding: 1rem;
  background-color: $bg;
  > h2 {
    margin: 0.3rem;
    font-weight: 400;
  }
  > div {
    display: flex;
    overflow-x: auto;
  }
}

.card {
  width: 200px;
  margin: 0.3rem;
  cursor: pointer;
  transition: transform 0.5s;
  &:hover {
    transform: translateY(-10px);
  }
}

.genreBox {
  overflow-x: auto;
  display: flex;
  height: 100px;
  background-color: $bg;
  > a {
    color: black;
    background-color: white;
    padding: 1rem 0;
    border-radius: 5px;
    text-align: center;
    margin: 1rem;
    min-width: 10rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: rgb(190, 190, 190);
    }
  }
}
