@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Economica:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Economica:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
a,
h2 {
  color: white;
}
a {
  text-decoration: none;
}

$bg: black;

.header {
  height: 100px;
  background-color: $bg;
  display: flex;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: space-between;
  > img {
    height: 120%;
  }
  > div {
    width: 100%;
    margin-left: 4vmax;
    > a {
      margin: 2vmax;
      font-size: 1.1rem;
      font-weight: 300;
    }
  }
  > svg {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      color: rgb(178, 178, 178);
    }
  }
}
